#main.is-hidden {
  filter: blur(8px);
}

.sw-Wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sw-Search-close {
  color: rgba(145, 145, 145, 0.7);
}
.sw-Search-close:hover {
  color: #fff;
}

.sw-Search-top {
  background: #323a45;
  box-shadow: 0 3px 3px #323a45;
}
.sw-Bar .input-group {
  border-bottom: 2px solid #fff;
  color: #fff;
}

.sw-Bar .input-group input,
.sw-Bar .input-group input:focus {
  background: transparent;
  border: 0 none;
  box-shadow: none;
  color: inherit;
  font-size: 24px;
  height: 46px;
  line-height: 30px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.sw-Bar .input-group input::placeholder {
  color: rgba(145, 145, 145, 0.7);
}

.sw-Bar .input-group-text {
  background: transparent;
  border: 0 none;
}

.sw-Item {
  border: 0 none;
  border-radius: 2px;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.2),
    0 3px 1px -2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.sw-Item-avatar {
  color: rgba(0, 0, 0, 0.2);
  font-size: 3rem;
}

.sw-Section-title {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
  text-transform: uppercase;
}

.sw-Loading {
  fill: #fff;
}
