.sw-Search {
  bottom: 0;
  color: rgba(0, 0, 0, 0.9);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.2s ease;
  z-index: 9999;
}

.sw-Search-close {
  color: rgba(145, 145, 145, 0.7);
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 2;

  &:hover {
    color: #fff;
  }

  i {
    font-size: inherit;
  }
}

.sw-Search-top {
  background: #323a45;
  box-shadow: 0 3px 3px #323a45;
  height: 9rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.sw-Search-bottom {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 10rem;
}
