.sw-Search {
  bottom: 0;
  color: rgba(0, 0, 0, 0.9);
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.2s ease;
  z-index: 9999;

  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }
}

.sw-Search-close {
  color: rgba(145, 145, 145, 0.7);
  cursor: pointer;
  font-size: 200%;
  opacity: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
  transform: scale3d(0.2, 0.2, 1);
  transition: 0.4s ease;
  z-index: 2;

  &:hover {
    color: #fff;
  }

  i {
    font-size: inherit;
  }
}

.sw-Search-top {
  background: #323a45;
  box-shadow: 0 3px 3px #323a45;
  height: 9rem;
  position: fixed;
  transform: translate3d(0, -10%, 0);
  transition: transform 0.3s ease;
  width: 100%;
  z-index: 1;
}

.sw-Search-bottom {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 10rem;
}

/**
* Transitions
*/
.sw-Search.is-open .sw-Search-close {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.sw-Search.is-open .sw-Search-top {
  transform: translate3d(0, 0, 0);
}

.sw-Search.is-open .sw-Search-bottom {
  transform: translate3d(0, 0, 0);
}
