.Search {
  overflow: auto;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  color: #c2c2c2;
  background: transparent;
}

.Search-close {
  transform: scale3d(0.8, 0.8, 1);
  transition: 0.3s;
  opacity: 0;

  position: absolute;
  z-index: 1;
  top: 1rem;
  right: 1rem;

  color: #dce6e6;
  cursor: pointer;
}

.Search--top {
  transform: translate3d(0, -100%, 0);
  transition: transform 0.3s;
  transition-timing-function: ease;;

  opacity: 0;
}

.Search--bottom {
  transition: transform 0.3s ease;
  transform: translate3d(0, 100%, 0);

  opacity: 0;
  /* background: #f1f1f1; */
}

.Search--open {
  pointer-events: auto;
}

.Search--open .Search-close {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.Search--open .Search--top {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.Search--open .Search--bottom {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
