.Input {
}

.Input input {
  color: #dce6e6;
  background: transparent;

  border: 0 none;
  border-radius: 0;
  border-bottom: 2px solid #dce6e6;
}

.Input input:focus {
  color: inherit;
  background: inherit;
  border-color: inherit;
}

.Input-hint {
  display: block;
  text-align: right;
}
