.sw-Bar {
  display: table;
  table-layout: fixed;
}

.sw-Clear {
  cursor: pointer;
}

/**
* Bootstrap overrides
*/
.sw-Bar .container-fluid {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
