.Results {
  position: absolute;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 0;
}

.Result {
  background: rgba(118, 117, 128, 0.05);
  border: 0 none;
}

.Result:hover {
  color: rgba(217, 83, 79, 1);
  background: rgba(118, 117, 128, 0.1);
}

.Result + .Result {
  margin-top: 0.5rem;
}

.Result-title {
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  font-weight: bold;
}
